<div id="container">
  <nav class="logo">
    <a class="logo" href="#">
      <img src="./assets/images/LOGO/logo_netflix_corto.jpg" alt="LOGO">
    </a>
  </nav>
  <ul class="menu">
    <li><a style="color:white" href="#">Inicio</a></li>
    <li><a style="color:white" href="#">Series TV</a></li>
    <li><a style="color:white" href="#">Películas</a></li>
    <li><a style="color:white" href="#">Novedades</a></li>
    <li><a style="color:white" href="#">Lista</a></li>
    <li><a style="color:white" href="#">Idiomas</a></li>
  </ul>

  <nav class="buscador">
    <a class="buscador" href="#">
      <img src="./assets/images/Icons/zoom-32.png" alt="BUSCAR">
    </a>
  </nav>

  <nav class="novedad">
    <a class="novedad" href="#">
      <img src="./assets/images/Icons/bell-3-32.png" alt="NOVEDADES">
    </a>
  </nav>
</div>

