<h3>LOS 10 MÁS POPULARES HOY</h3>

<div class="container">
    <ul>
        <li><img src="./assets/images/LOGO/1.png" alt="1"></li>
        <li id="number1">
            <img src="./assets/images/Top10/1-papel.webp" alt="La casa de papel">
        </li>

        <li><img src="./assets/images/LOGO/2.png" alt="2"></li>
        <li id="number2">
            <img src="./assets/images/Top10/2-reina.webp" alt="La reina del flow">
        </li>

        <li><img src="./assets/images/LOGO/3.png" alt="3"></li>
        <li id="number3">
            <img src="./assets/images/Top10/3-titanes.webp" alt="Titanes">
        </li>

        <li><img src="./assets/images/LOGO/4.png" alt="4"></li>
        <li id="number4">
            <img src="./assets/images/Top10/4-lostinspace.webp" alt="Lost in space">
        </li>

        <li><img src="./assets/images/LOGO/5.png" alt="5"></li>
        <li id="number5">
            <img src="./assets/images/Top10/5-dondecaben.webp" alt="Donde caben dos">
        </li>

        <li><img src="./assets/images/LOGO/6.png" alt="6"></li>
        <li id="number6">
            <img src="./assets/images/Top10/6-aquinohay.webp" alt="Aquí no hay quien viva">
        </li>

        <li><img src="./assets/images/LOGO/7.png" alt="7"></li>
        <li id="number7">
            <img src="./assets/images/Top10/7-blacklist.webp" alt="Blacklist">
        </li>

        <li><img src="./assets/images/LOGO/8.png" alt="8"></li>
        <li id="number8">
            <img src="./assets/images/Top10/8-ricos.webp" alt="Ricos y mimados">
        </li>

        <li><img src="./assets/images/LOGO/9.png" alt="9"></li>
        <li id="number9">
            <img src="./assets/images/Top10/9-poder.webp" alt="El poder del perro">
        </li>

        <li><img src="./assets/images/LOGO/10.png" alt="10"></li>
        <li id="number10">
            <img src="./assets/images/Top10/10-gooddoctor.webp" alt="Good doctor">
        </li>
    </ul>
</div>



